<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to privateclass.com!</h1>
    <p>
      The professor <%= @professor.name %> has invited you to sign up on Private Class and starting your classes.<br>
    </p>
    <p>
      To finish your register, follow the link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
